/*Fonts*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
li, 
a
{
    font-family: $specialFont;
}

p, 
span,
label,
th,
td
{
    font-family: $basicFont;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    color: black;
    text-align: center;
    padding-top: 6em;
}

h2 {
    font-size: 1.8em;
    color: #011526;
    padding: 0.8em 0 0.3em 0;
}

h3 {
    font-size: 1.6em;
    color: #033F73;
}

p,
a {
    font-size: 1.2em;
    padding: 0 0 1em 0;
    line-height: 1.4;
}

.header-title {
    font-size: 7em;
    color: white;
    position: absolute;
    bottom: 0;
}

#footer-text {
    font-family: 'Amatic SC', cursive;
}

//responsive design for tablets
@include tablet {
    .header-title {
        font-size: 6em;
    }
}

//responsive design for phones
@include phone {
    .header-title {
        font-size: 3em;
    }
}